@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-secondary: #1e1e1e;
  --animate-fade-in-scale: fade-in-scale 0.2s ease-in;
  --animate-wave: wave 2s infinite;
  
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
}

body {
  padding: 0;
}

.notailwind * {
  all: revert;
}

.my-swal-popup {
  z-index: 99999;
}

.phone-container {
  width: 100%;
}

.phone-input {
  width: 100% !important;
}
